@tailwind base;
@tailwind components;
@tailwind utilities;

:root{
    --pakBlue : #009DDC;
  }

  @font-face {
    font-family: 'PROTOTYPE';
    src: url('@/assets/fonts/Prototype.ttf');
  }

  @font-face {
    font-family: 'MYRIADBOLD';
    src: url('@/assets/fonts/MyriadProBold.ttf');
  }

  @font-face {
    font-family: 'CENTURYGOTHIC';
    src: url('@/assets/fonts/CenturyGothic.ttf');
  }

  @font-face {
    font-family: 'AGRESSIVE';
    src: url('@/assets/fonts/AGRESSIVE.otf');
  }
  
  ::-webkit-scrollbar {
      width: 15px;
      @apply mt-2 mb-2
  }

  /* Track */
  ::-webkit-scrollbar-track {
      @apply bg-grayToneStroke rounded-xl;
  }
  
  /* Handle */
  ::-webkit-scrollbar-thumb {
      @apply bg-pakDarkBlue rounded-xl;
  }

  /* Handle on hover */
  ::-webkit-scrollbar-thumb:hover {
      @apply bg-pakBlue
  }